
<h1><%= @garden.title.upcase %></h1>


  <%= render 'rows/show' %>
  <%= render 'vegetables/index' %>


<div class="add-row border m-3">
  <%= render 'rows/new' %>
</div>

  <p><%= link_to 'Back Home', gardens_path, class: 'btn btn-primary' %></p>
</div>
